{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Registro de Usuario | Mis Perris</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<h1 class="titulo">Registro de Usuario</h1>
		
		<form method="POST" class="row col-12 col-md-9 mx-auto" id="form-inscripcion">
			{% csrf_token %}
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.nombre.label }}
					{{ form.nombre }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.rut.label }}
					{{ form.rut }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.email.label }}
					{{ form.email }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.telefono.label }}
					{{ form.telefono }}
				</div>
			</div>
			<div class="col-12 col-md-6 mb-3">
				<div class="form-group">
					{{ form.nacimiento.label }}
					<div id="datepicker"></div>
				</div>
			</div>
			<div class="col-12 col-md-6 mb-3">
				<div class="form-group mb-2">
					{{ form.nacimiento }}
				</div>

				<div class="form-group mb-2">
					{{ form.region.label }}
					<select id="regiones" class="form-control" required></select>
					{{ form.region }}
				</div>

				<div class="form-group mb-2">
					{{ form.comuna.label }}
					<select id="comunas" class="form-control" required></select>
					{{ form.comuna }}
				</div>

				<div class="form-group mb-0">
					{{ form.vivienda.label }}
					{{ form.vivienda }}
				</div>
			</div>
			<div class="col-12 mb-3"></div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.username.label }}
					{{ form.username }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.password1.label }}
					{{ form.password1 }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.password2.label }}
					{{ form.password2 }}
				</div>
			</div>

			<div class="col-12 text-right">
				<button type="submit" class="btn btn-primary">Guardar</button>	
			</div>
		</form>
	</div>
{% endblock contenido %}
{% block js %}
	<!-- SCRIPT REGIONES Y COMUNAS -->
	<script type="text/javascript" src="{% static 'js/regiones-comunas.js' %}"></script>
	<!-- FIN REGIONES Y COMUNAS -->

	<!-- SCRIPT VALIDADOR RUT -->
	<script type="text/javascript" src="{% static 'js/jquery.rut.chileno.js' %}"></script>
	<!-- FIN VALIDADOR RUT -->
	<script>
		$(document).ready(function(){
			$('[data-active="3"]').addClass('active');


			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '< Ant',
				nextText: 'Sig >',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'yy-mm-dd',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);
			$(function(){
				$("#datepicker").datepicker({
					yearRange: '1920:2000',
					changeMonth: true,
					changeYear: true,
					onSelect: function(dateText) {
						$('.fecha-seleccionada').val(dateText);
					}
				});
			});

			$('#form-inscripcion input[name="nombre"]').addClass('solo-texto');
			$('#form-inscripcion input[name="rut"]').addClass('input-rut');
			$('#form-inscripcion input[name="nacimiento"]').addClass('fecha-seleccionada').attr({
				'readonly':'readonly',
				'placeholder' : 'Seleccione fecha'
			});
			$('#form-inscripcion input[name="telefono"]').addClass('solo-numero');
			$('#form-inscripcion input[name="region"]').attr('type','hidden');
			$('#form-inscripcion input[name="comuna"]').attr('type','hidden');
			$('#form-inscripcion input[name="password1"]').addClass('form-control');
			$('#form-inscripcion input[name="password2"]').addClass('form-control');

			$('.solo-texto').keypress(function(event){
				var inputValue = event.which;
				if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0 && inputValue != 8)) { 
					event.preventDefault(); 
		        }
		    });

		    $(".solo-numero").keydown(function (e) {
				if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
					(e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
					(e.keyCode >= 35 && e.keyCode <= 40)) {
						return;
				}
				if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
					e.preventDefault();
				}
		    });

		    $('.input-rut').rut();


		    $('#regiones').change(function(){
				$('#form-inscripcion input[name="region"]').val($(this).val());
			});

			$('#comunas').change(function(){
		    	$('#form-inscripcion input[name="comuna"]').val($(this).val());
		    });

			$('#form-inscripcion .btn-enviar').click(function(){
				if($('#form-inscripcion input[name="password1"]').val() != $('#form-inscripcion input[name="password2"]').val()){
					alert('Las contraseñas no coinciden');
					return false;
				}
			});
		});
	</script>
{% endblock js %}