{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Recuperar Contraseña | Mis Perris</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<h1 class="titulo">Recuperar Contraseña</h1>

		<form method="POST" class="row">
			{% csrf_token %}
			<div class="col-12 pt-3 text-center">
				<label for="">Correo:</label>
				{{ form.email }}
				<button type="submit" class="btn btn-success">Enviar</button>
			</div>
		</form>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="4"]').addClass('active');
		});
	</script>
{% endblock js %}