{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Recuperación enviada | Mis Perris</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<div class="alert alert-success text-center">
			Te hemos enviado un correo con un enlace para restablecer tu contraseña
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="4"]').addClass('active');
		});
	</script>
{% endblock js %}