{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Confirmación de Resetear Contraseña | Mis Perris</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		{% if validlink %}
		
			<form method="POST">
				{% csrf_token %}

				<div class="form-group">
					{{ form.new_password1.errors }}
					<label for="id_new_password1">Nueva Contraseña:</label>
					{{ form.new_password1 }}
				</div>
				
				<div class="form-group">
					{{ form.new_password2.errors }}
					<label for="id_new_password2">Confirme Contraseña:</label>
					{{ form.new_password2 }}
				</div>

				<button type="submit" class="btn btn-success">Cambiar mi contraseña</button>
			</form>
		{% else %}
			<div class="alert alert-danger text-center">
				ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO
			</div>
		{% endif %}
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="4"]').addClass('active');
		});
	</script>
{% endblock js %}